$light-gold: #B8A054;

.paragraph {
  line-height: 1.5;
  padding: clamp(20px, 5vw, 40px);
  max-width: 980px;
  color: white;
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: var(--font-playfair);

  // No need for display: flex or wrapping tricks
}

.specialWord {
  color: $light-gold;
  font-weight: bold;
}
