.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;

    @media (max-width: 768px) {
        height: fit-content;
        gap: 20px;
    }

}

.meumeu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;        
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    gap: 100px;
    padding-top: 20vh;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 50px;
        height: fit-content;
    }
}

.wrapper {
    max-width: 100svw;
    height: fit-content;
    overflow-x: hidden;
}


.bottom {
    height: 50vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

     h2 {
        position: relative;
        font-size: clamp(1.5rem, 3vw, 2em);
        font-weight: 300;
        color: whitesmoke;

        span {
            position: absolute;
        }
    }

    p {
        width: 100%;
        display: block;
        text-align: center;
        font-size: clamp(1rem, 2vw, 1.5em);
    }
}