.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    width: 100%;
   /*  background: radial-gradient(circle, rgba(6,4,29,1), rgba(45,41,37,1), rgb(14, 14, 14)); */
    padding: 10rem;

    @media (max-width: 60em) {
      padding: 6rem 1rem 6rem;
    }
}