@use '@/styles/base' as *;

.top_menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
    height: 54px;
    z-index: 1000;
    background-color: black;

    > a {
        display: inline-block;
    }
    
.sub {
  display: block;
  height: 100%;
  word-wrap: break-word;    
  overflow-wrap: break-word; 
  white-space: normal;      
}
    @media screen and (max-width: 50em){
        padding: 0 0.5rem;
    }
}
